          <div patient-profile></div>

          <div patient-tabs></div>

          <div class="main-container">
            <!-- FUENTE : http://ejercicios-terapeuticos.blogspot.com/p/ejercicios-de-williams.html -->
            <div class="sortable">
              <ul style="height: auto; width: 100%; position: relative;">
                <li class="exercise blue" ng-repeat="exercise in curPatient.exercises | filter: { fase:'Estiramiento' }">
                  <header>{{ exercise.name }}</header>
                  <img ng-src="{{ exercise.pic }}" width="120px" height="120px"></img>
                  <div>Series: {{ exercise.series }}</div>
                  <div>Repeticiones: {{ exercise.reps }}</div>
                  <div>Mantenimiento: {{ exercise.time }} seg</div>
                  <div>Reposo: {{ exercise.time }} seg</div>
                </li>
              </ul>
            </div>
            <div class="sortable">
              <ul style="height: auto; width: 100%; position: relative;">
                <li class="exercise red" ng-repeat="exercise in curPatient.exercises | filter: { fase:'Calentamiento' }">
                  <header>{{ exercise.name }}</header>
                  <img ng-src="{{ exercise.pic }}" width="120px" height="120px"></img>
                  <div>Series: {{ exercise.series }}</div>
                  <div>Repeticiones: {{ exercise.reps }}</div>
                  <div>Mantenimiento: {{ exercise.time }} seg</div>
                  <div>Reposo: {{ exercise.time }} seg</div>
                </li>
              </ul>
            </div>
            <h2>Ejercicios</h2>
            <div class="sortable">
              <ul style="height: auto; width: 100%; position: relative;">
                <li class="exercise green" ng-repeat="exercise in curPatient.exercises | filter: { fase:'Ejercicios' }">
                  <header>{{ exercise.name }}</header>
                  <img ng-src="{{ exercise.pic }}" width="120px" height="120px"></img>
                  <div>Series: {{ exercise.series }}</div>
                  <div>Repeticiones: {{ exercise.reps }}</div>
                  <div>Mantenimiento: {{ exercise.time }} seg</div>
                  <div>Reposo: {{ exercise.time }} seg</div>
                </li>
              </ul>
            </div>
          </div>

          <a id="add-exercise" data-toggle="modal" data-target="#add-exercise-modal">
            <div class="plus">
              <img class="plus-icon" src="static/images/add.png">
            </div>
          </a>
