          <div patient-profile></div>

          <div patient-tabs></div>

          <div class="main-container gridster ready">
            <!-- FUENTE : http://ejercicios-terapeuticos.blogspot.com/p/ejercicios-de-williams.html -->
            <ul style="height: auto; width: 100%; position: relative;">
              <li ng-repeat="exercise in curPatient.exercises"
                  data-sizex="2"
                  data-sizey="2"
                  data-row="{{ 1 + ($index - $index % 4) / 4}}"
                  data-col="{{ 1 + $index % 4 }}"
                  class="gs-w">
                <header>{{ exercise.name }}</header>
                <img ng-src="{{ exercise.pic }}" width="120px" height="120px"></img>
                <div>Series: {{ exercise.series }}</div>
                <div>Repeticiones: {{ exercise.reps }}</div>
                <div>Mantenimiento: {{ exercise.time }} seg</div>
                <div>Reposo: {{ exercise.time }} seg</div>
              </li>
            </ul>
          </div>

          <a id="add-exercise" href="#"
             data-toggle="modal" data-target="#add-exercise-modal">
            <div class="plus">
              <img class="plus-icon" src="static/images/add.png">
            </div>
          </a>
