<div patient-profile></div>
<div patient-tabs></div>


<div class="main-container historial">
    <form class="form-horizontal grouped-form">
        <div class="commands">
            <button><i class="fa fa-angle-double-up"/></button>
            <button><i class="fa fa-angle-up"/></button>
            <button onclick="$('#calendar').toggle()"><i class="fa fa-calendar"/></button>
            <img id="calendar" src="static/images/datepicker.png"/>
            <button><i class="fa fa-angle-down"/></button>
            <button><i class="fa fa-angle-double-down"/></button>
        </div>
        <div class="prev-items">
            <div ng-repeat="item in items" class="item">
                <span class="exit"><i class="fa fa-close"/></span>
                <span class="edit"><i class="fa fa-pencil"/></span>
                <b>{{ item.fecha }}</b>
                <br>
                {{ item.data }}
            </div>
        </div>
        <br>
        Hoy hice:
        <div class="user-input">
            <textarea class="form-control" ng-model="newItem"></textarea>
            <button ng-click="items.push({fecha: 'Hoy', data: newItem}); newItem = '';"
                    class="btn btn-success save"><i class="fa fa-check"/></button>  
        </div>
    </form>
</div>
