          <div class="profile-container">
            <div class="row">
              <div class="col-md-2 user-pic-container">
                <img ng-src="{{ curPatient.pic }}" class="img-circle user-pic">
              </div>
              <div class="col-md-10">
                <p class="user-name">{{ curPatient.name }}</p>
                <p class="user-ill">{{ curPatient.desease }}</p>
                <p class="user-day">Sesión {{ curPatient.day }}</p>
              </div>
            </div>
          </div>