          <div patient-profile></div>

          <div patient-tabs></div>

          <div class="main-container">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Enfermedad</label>
                <div class="col-sm-10">
                  <input class="form-control"
                         ng-model="curPatient.desease">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Diagnostico medico</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="7">Ioser
TENS
Magnetoterapia
Compresion lumbar
Ejercicios (williams)
Masajes</textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Agentes</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="4">Traccion lumbar
Magnetometro</textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Objetivo</label>
                <div class="col-sm-10">
                  <input class="form-control"
                         value="Jugar futbol">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Desempeño de la última semana</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="4">Esta mejorando</textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Desempeño del día</label>
                <div class="col-sm-10">
                   <select class="form-control">
                       <option>Ayer</option>
                       <option>Anteayer</option>
                       <option>Jun 9</option>
                       <option>Jun 8</option>
                       <option>Jun 7</option>
                       <option>Jun 6</option>
                   </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Desempeño</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="4">No hubo avances significativos</textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Desempeño de hoy</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="4"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Generar Informe Terapeutico</button>
                </div>
              </div>
            </form>
          </div>
